<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="UserDetailsStyle.css" />
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet'>
    <title>Plasma Donor Application</title>

  </head>

  <body>
    <div id="topnav">
      <h1>Plasma_Donar</h1>
    </div>
    <div id="nav">
      <div id="Details">
          <h2>User Details</h2>
          <form method="post">
              <input class="inp" type="text" placeholder="Name" id="usrname" name="name" required>
              <input class="inp" type="number" placeholder="Age" id="usrage" name="age" required>
              <input class="inp" type="email" placeholder="E-Mail" id="usrmail" name="email" required>
              <input class="inp" type="text" placeholder="Mobile Number" id="usrmob" name="mob" maxlength="10" minlength="10" required>
              <select name="bloodgrp" class="inp" id="grp" onchange="this.className=this.options[this.selectedIndex].className"
              class="select" required>
                <option class="select" value="" disabled selected>Select your Blood Group</option>
                <option class="selected" value="A+">A+</option>
                <option class="selected" value="A-">A-</option>
                <option class="selected" value="B+">B+</option>
                <option class="selected" value="B-">B-</option>
                <option class="selected" value="O+">O+</option>
                <option class="selected" value="O-">O-</option>
                <option class="selected" value="AB+">AB+</option>
                <option class="selected" value="AB-">AB-</option>
              </select>
              <div id="ratiobtn" class="inp" >
                <div id="rtbtnTitle"><b>Gender: </b></div>
                <div id="rtbtn">
                  <input type="radio" id="male" name="gender" value="Male" required>
                  <span>MALE</span>
                  <input type="radio" id="female" name="gender" value="Female">
                  <span>FEMALE</span><br>
                </div>
              </div>
              <input class="inp" type="text" placeholder="Enter Address" id="usradd" name="address" required>
              <div id="location">
                <input class="inp" type="text" placeholder="District" name="district" required>
                <input class="inp" type="text" placeholder="Region" name="region" required>
                <input class="inp" type="text" placeholder="Country" name="country" required>
                <input class="inp" type="text" placeholder="Pincode" name="pincode" pattern="[0-9]{6}" maxlength="6" required>
              </div>
              <input class="inp" type="text" placeholder="Address of Nearby Blood Bank" id="bnkadd" name="address" required>
              <button type="submit" id="submitButton">Submit</button>
          </form>
      </div>
    </div>
    
    <script src="UserDetailsScript.js"></script>
  </body>
</html>